<div class="max-w-md mx-auto mt-10">
  <h2 class="text-2xl font-semibold mb-4">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "bg-black text-white p-6 rounded-lg shadow-md") do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-4">
      <%= f.label :username, class: "block text-gray-400 font-bold mb-2" %>
      <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "w-full px-3 py-2 border rounded-lg  border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
    </div>

    <div class="mb-4">
      <%= f.label :bio, class: "block text-gray-400 font-bold mb-2" %>
      <%= f.text_field :bio, autofocus: true, autocomplete: "bio", class: "w-full px-3 py-2 border rounded-lg  border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
    </div>

    <div class="mb-6">
      <%= f.label :image, class: "block text-sm font-medium text-gray-700 mb-2" %>
      <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-lg hover:border-gray-400 transition duration-200">
        <div class="space-y-1 text-center">
          <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48">
            <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4-4m4-4h.01" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <div class="flex text-sm text-gray-600">
            <label class="relative cursor-pointer bg-white rounded-md font-medium text-blue-600 hover:text-blue-500 focus-within:outline-none">
              <%= f.file_field :image, 
                  class: "sr-only",
                  accept: "image/*",
                  data: { 
                    action: "change->form#updateFileName"
                  } %>
              <span>Upload a file</span>
            </label>
            <p class="pl-1">or drag and drop</p>
          </div>
          <p class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB</p>
        </div>
      </div>
    </div>

    <div class="mb-4">
      <%= f.label :email, class: "block text-gray-400 font-bold mb-2" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full px-3 py-2 border rounded-lg  border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
    </div>


    <div class="mb-4">
      <%= f.label :password, class: "block text-gray-400 font-bold mb-2" %>
      <% if @minimum_password_length %>
      <em class="text-sm text-gray-400">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "w-full px-3 py-2 border rounded-lg  border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
    </div>

    <div class="mb-4">
      <%= f.label :password_confirmation, class: "block text-gray-400 font-bold mb-2" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full px-3 py-2 border rounded-lg  border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
    </div>

    <div class="mb-6">
      <%= f.submit "Sign up", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full" %>
    </div>
  <% end %>

  <div class="text-center mt-4">
    <%= render "devise/shared/links" %>
  </div>
</div>