<div class="container mx-auto p-6">
  <h2 class="text-3xl font-bold mb-8 text-center text-gray-800">Friend Requests</h2>
  <% if @received_requests.any? %>
    <div class="max-w-2xl mx-auto mb-8">
      <h3 class="text-2xl font-semibold text-gray-700 mb-4">Received Friend Requests</h3>
      <% @received_requests.each do |request| %>
        <div class="bg-white shadow-md rounded-lg p-4 mb-4 flex justify-between items-center">
          <div class="flex items-center">
            <div class="mr-4 font-semibold text-lg text-gray-700">
              <%= request.sender.username %>
            </div>
          </div>
          <div class="flex space-x-2">
            <%= button_to "Accept", friend_requests_accept_path(request), method: :post, 
                class: "px-4 py-2 bg-green-500 text-white rounded-md hover:bg-green-600" %>
            <%= button_to "Reject", friend_request_path(request), method: :delete, 
                class: "px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-600" %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-center text-gray-500">No friend requests at the moment.</p>
  <% end %>
  <% if @receive_friends.any? %>
    <div class="max-w-2xl mx-auto mb-8">
      <h3 class="text-2xl font-semibold text-gray-700 mb-4">Friends</h3>
      <% @receive_friends.each do |friend| %>
        <div class="bg-white shadow-md rounded-lg p-4 mb-4 flex justify-between items-center">
          <div class="flex items-center">
            <div class="mr-4 font-semibold text-lg text-gray-700">
              <%= friend.sender.username %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% elsif @send_friends.any?%>
  <div class="max-w-2xl mx-auto mb-8">
      <h3 class="text-2xl font-semibold text-gray-700 mb-4">Friends</h3>
      <% @send_friends.each do |friend| %>
        <div class="bg-white shadow-md rounded-lg p-4 mb-4 flex justify-between items-center">
          <div class="flex items-center">
            <div class="mr-4 font-semibold text-lg text-gray-700">
              <%= friend.receiver.username %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <%else%>

    <p class="text-center text-gray-500">You have no accepted friends yet.</p>
  <% end %>
</div>
