<%= form_with(model: @post, local: true, class: "space-y-6", html: { multipart: true }) do |f| %>
  <div class="mb-4">
    <%= f.label :caption, class: "block text-gray-700 font-bold mb-2" %>
    <%= f.text_area :caption, class: "w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500", rows: 5 %>
  </div>

  <div class="mb-4">
    <%= f.label :image, class: "block text-gray-700 font-bold mb-2" %>
    <%= f.file_field :image, class: "w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" %>
  </div>
  
  <div class="flex items-center justify-between">
        <%= f.submit "Create Post" %>
  </div>
<% end %>
<div class="flex items-center justify-between">
    <%= link_to "Cancel", posts_path, class: "text-gray-600 hover:text-gray-800 font-medium" %>
</div>